[Unit]
Description=Boat Steering Service
After=can-setup.service
Requires=can-setup.service

[Service]
Type=simple
ExecStart=/home/yuto/boat-steering/boat-steering.py
WorkingDirectory=/home/yuto/boat-steering

[Install]
WantedBy=multi-user.target