[Unit]
Description=Boat Steering Service
After=can-setup.service
Requires=can-setup.service

[Service]
Type=simple
User=yuto
WorkingDirectory=/home/yuto/boat-steering/boat-steering
ExecStart=/home/yuto/.local/bin/poetry run python boat-steering.py
Restart=always

[Install]
WantedBy=multi-user.target
