[Unit]
Description=Set up CAN interface

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/sbin/ip link set can0 down && /sbin/ip link set can0 up type can bitrate 250000 && /sbin/ifconfig can0 txqueuelen 1000'

[Install]
WantedBy=multi-user.target
